<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>後台管理系統</title>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <!-- Jquery JavaScript 文件 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>

    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
</head>
<body>
    <div id="options">
        <button type="button" class="btn btn-outline-primary" onclick='location.href=("CommodityManager")'>商品管理</button>
        <button type="button" class="btn btn-outline-primary" onclick='location.href=("CommodityTagManager")'>商品種類管理</button>
        <button type="button" class="btn btn-outline-primary" onclick='location.href=("UserinfoManager")'>使用者資料管理</button>
        <button type="button" class="btn btn-outline-primary" onclick='location.href=("CartManager")'>購物車管理</button>
        <button type="button" class="btn btn-outline-primary" onclick='location.href=("OrderManager")'>訂單管理</button>
    </div>
</body>
</html>